@{
  ViewData["Title"] = "Details";
}

<body style="background-color: green;height: 100%;">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <div class="wrapper">
    <div class="sidebar">
      <h2>Welcome</h2>
      <ul>
        <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="#"><i class="fas fa-users"></i>Employees</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i>Policies</a></li>
        <li><a href="/Home/AddEmployee"><i class="fas  fa-plus"></i></i>Add Employee</a></li>
        <li><a href="/Home/AddAdmin"><i class="fas fa-id-badge"></i>Add new Admin</a></li>
        @* <li><a href="#"><i class="fas fa-question"></i></i></i>Help</a></li> *@
        <li><a href="/Home/Login"><i class="fas  fa-sign-out"></i></i></i>Log out</a></li>
      </ul>
    </div>
    <div class="main_content">
      <div class="info">
        @* <h2 style="text-align:center">User Profile </h2> *@

        <div class="card">
          <img src="https://media.istockphoto.com/id/1451587807/vector/user-profile-
icon-vector-avatar-or-person-icon-profile-picture-portrait-symbol-vector.jpg?
s=612x612&w=0&k=20&c=yDJ4ITX1cHMh25Lt1vI1zBn2cAKKAlByHBvPJ8gEiI
g=" alt="" style="width:50%;margin-left:90px;">
          <h2 style="color:violet;">Name </h2>
          <p class="title">Role : </p><br>
          <p class="title">Age : </p><br>
          <p class="title">Phone : </p><br>
          <p class="title">Address : </p><br>
          <p class="title">Email : </p>
          <!-- <div style="margin: 24px 0;">
   <a href="#"><i class="fa fa-dribbble"></i></a> 
   <a href="#"><i class="fa fa-twitter"></i></a>  
   <a href="#"><i class="fa fa-linkedin"></i></a>  
   <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>-->
          <p><button><a href="/Home/UpdateProfile">Update Profile</a></button></p>
        </div>


      </div>
    </div>
  </div>
  <style>
    @*@importurl('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');*@* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: 'Josefin Sans', sans-serif;
    }

    body {
      background-color: green;
    }

    .wrapper {
      display: flex;
      position: relative;
    }

    .wrapper .sidebar {
      width: 200px;
      height: 100%;
      background: green;
      padding: 30px 0px;
      position: fixed;
    }

    .wrapper .sidebar h2 {
      color: green;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .wrapper .sidebar ul li {
      padding: 15px;
      border-bottom: 1px solid green;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }

    .wrapper .sidebar ul li a {
      color: green;
      display: block;
    }

    .wrapper .sidebar ul li a .fas {
      width: 25px;
    }

    .wrapper .sidebar ul li:hover {
      background-color: green;
    }

    .wrapper .sidebar ul li:hover a {
      color: green;
    }

    .wrapper .sidebar .social_media {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    .wrapper .sidebar .social_media a {
      display: block;
      width: 40px;
      background: green;
      height: 40px;
      line-height: 45px;
      text-align: center;
      margin: 0 5px;
      color: green;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .wrapper .main_content {
      width: 100%;
      margin-left: 200px;
    }

    .wrapper .main_content .header {
      padding: 20px;
      background: #fff;
      color: green;
      border-bottom: 1px solid green;
    }

    .wrapper .main_content .info {
      margin: 20px;
      color: green;
      line-height: 25px;
    }

    .wrapper .main_content .info div {
      margin-bottom: 20px;
    }
  </style>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 green;
      max-width: 400px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      float: left;
      color: green;
      font-size: 18px;
    }

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: green;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a {
      text-decoration: none;

      color: green;
    }

    button:hover,
    a:hover {
      opacity: 0.7;
    }
  </style>

</body>