<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="D:\Education\Internship\Vehcile\Views\Admin\TabInside.css">
</head>

<body>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Bike')">Bikes</button>
    <button class="tablinks" onclick="openTab(event, 'Cab')">Cabs</button>
    <button class="tablinks" onclick="openTab(event, 'Bus')">Buses</button>
  </div>

  <div id="Bike" class="tabContent">
    <h1>Bikes</h1>
  </div>

  <script src="D:\Education\Internship\Vehcile\Views\Admin\TabJs.js"></script>
</body>

</html>
