<div class="tab">
    <button class="tablinks" onclick="Vehcile(event,'Bike')">Bikes</button>
    <button class="tablinks" onclick="Vehcile(event,'Cab')">Cabs</button>
    <button class="tablinks" onclick="Vehcile(event,'Bus')">Buses</button>
</div>

<div id="Bikes" class="tabContent ">
    <h1>Bikes </h1>
</div>