@model VEHCILE.Models.Bus;

@{
  ViewBag.Title = "Routes";
}

<head>
  <link rel="stylesheet" href="~/css/Buscs.css">

</head> 

<body background="https://jooinn.com/images/road-75.jpg">

  <form method="post" asp-controller="Home" asp-action="BookSeat" style="margin-left: 5%" width="1000" height="1300" style="padding-right:80px;padding-top:50px;">
    @await Html.PartialAsync("_Routes", Model)
    <div id="map_canvas"></div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYzhLUsEHubDIHndEmnQEi28maYU14YJI&callback=initMap"
      async defer></script>
    <script src="~/js/BusJv.js"></script>
@* 
    <button type="submit" value="Send" class="btn btn-success" asp-controller="Home" asp-action="BookSeat">
            <i class="glyphicon glyphicon-inbox"></i> Book
        </button> *@

        
    <button type="Submit" value=" Send" class="btn btn-success" id="submit" asp-action="BusSeat"><i
        class="glyphicon glyphicon-inbox"></i> Book</button> 

  </form>
</body>



@* 
<style>
  .container {
    align-items: right;
    padding-right: 20px;
    align-content: flex-end;
  }

  #map_canvas {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 80px;
    margin-left: 700px;


  }
</style>
@{
  ViewBag.Title = "Routes";
}

<body background="https://jooinn.com/images/road-75.jpg">

  <form method="post" style="margin-left: 8%" width="1000" height="1300" style="padding-left:85px;padding-top:50px;">
    <div class="container">
    <div class="form-outline mb-4" style="color: White;"><b>Start at </b></label>
    <br>
      <select name="Pickup" asp-for="PickUp" style="font-size: 1rem;">
        @{
          foreach (var bus in ViewBag.busList)
          {
            <option value=@bus.PickUp name="PickUp">@bus.PickUp</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color: White;" style="margin-left:4rem">DropOff</b></label>
    <br>
      <select name="DropOff" asp-for="DropOff" style="font-size: 1rem;">
        @{
          foreach (var bus in ViewBag.busList)
          {
            <option value=@bus.DropOff name="DropOff">@bus.DropOff</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Date</b>
    <br>
      <input style="margin-left:0rem " type="date" id="DOJ" name="DOJ" min="2023-01-01" max="2023-12-31">
    </div>


    <button type="Submit" value=" Send" class="btn btn-success" id="submit" asp-action="Bus1"><i
        class="glyphicon glyphicon-inbox"></i> Book</button>
        </div>
  </form>
 
  </div> 

  <!DOCTYPE html>
  <html style="displayflex">

  <head>
    <div class="container" id="map_canvas"></div>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Multiple Markers Google Maps</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>
   
  </head>

  </html>

</body> *@