@* @model IEnumerable<Bus> *@
@using System.Data;
@model DataTable;

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body
  background="https://th.bing.com/th/id/R.91145d77ca3c214857f2cec4737d9669?rik=4Ej7vNriH5rcbw&riu=http%3a%2f%2fhdqwalls.com%2fdownload%2f1%2fsunlight-circle-light-color-rays-rainbow-db-3840x2400.jpg&ehk=hJIV7qSq62NNgfmjZObRFut0ncQNps8CGHzeXJ57R2o%3d&risl=&pid=ImgRaw&r=0">
  <div class="main-container">
    <div class="middle">
      <h1 style="color:white;">
        Booked Seats
      </h1>
      <br>

    </div>
    <div class="store-table">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="color:white; ">BusNumber</th>
            <th scope="col" style="color:white;">BusID</th>
          </tr>
        </thead>
        <tbody>
          try{
             @foreach (DataRow dataRow in Model.Rows)
          {
            <tr>
              <th scope="row" style="color: white;">@dataRow[0]</th>
              <td style="color: white;">@dataRow[1]</td>
               <td></td>
              <td><button type="Submit" asp-controller="Home" asp-action="BusSeat">Book</button></td>
            </tr>
          }
          }
          catch(Exception e){
            
          }
        </tbody>
      </table>
    </div>
</body>

