@model VEHCILE.Models.Car;

@* Make Car Module *@

@{
  ViewBag.Title = "Routes";
}
<script src="~/css/Cab1cs.css"></script>
<script src="~/js/Cab1.js"></script>


<body background="https://jooinn.com/images/road-75.jpg">

  <form method="post" style="margin-left: 8%" width="1000" height="1300" style="padding-left:85px;padding-top:50px;">
    <div class="container">
    <div class="form-outline mb-4" style="color: White;"><b>Start at </b></label>
    <br>
      <select name="Pickup" asp-for="PickUp" style="font-size: 1rem;">
        @{
          foreach (var car in ViewBag.carList)
          {
            <option value="@car.PickUp" name="PickUp">@car.PickUp</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color: White;" style="margin-left:4rem">DropOff</b></label>
    <br>
      <select name="DropOff" asp-for="DropOff" style="font-size: 1rem;">
        @{
          foreach (var car in ViewBag.carList)
          {
            <option value="@car.DropOff" name="DropOff">@car.DropOff</option>
          }
        }
      </select>
    </div>
    <div class="form-outline mb-4" style="color:White;"><b>Date</b>
    <br>
      <input style="margin-left:0rem " type="date" id="DOJ" name="DOJ" min="2023-01-01" max="2023-12-31">
    </div>


    <button type="submit" value=" Send" class="btn btn-success" id="submit" asp-action="Bus1"><i
        class="glyphicon glyphicon-inbox"></i> Book</button>
        </div>
  </form>
 
  </div> 

  <!DOCTYPE html>
  <html style="displayflex">

  <head>
    <div class="container" id="map_canvas"></div>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Multiple Markers Google Maps</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>

  </head>

  </html>

</body>



