<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/Detailscs.css">


<body
  background="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/msqd2XJ/videoblocks-hacker-in-black-mask-using-computer-and-breaking-servers-of-data-center-stealing-information_rynis-jnx_thumbnail-1080_01.png"
  style="background-color:blue;">
  <!-- Sidebar -->
  <div class="myside" style="margin-top: 0%; padding:0%">
    <div class="w3-sidebar w3-light-grey w3-bar-block" id="sidebar" style="width:25%">
      <h3 class="w3-bar-item">Controls</h3>
      <a href="/Home/Register" class="w3-bar-item w3-button">Employees</a>
      <a href="/Home/Create" class="w3-bar-item w3-button">New Admin</a>
      <a href="/Home/Contact" class="w3-bar-item w3-button">Contact</a>
      <a href="/Home/CustomerRequest" class="w3-bar-item w3-button"></i>Requests</a>
      <a href="/Driver/Index" class="w3-bar-item w3-button"></i>Drivers</a>
      <a href="/Bus/Index" class="w3-bar-item w3-button"></i>Buses</a>
      <a href="/Car/Index" class="w3-bar-item w3-button"></i>Car</a>
      <a href="/Home/CompanyPolicy" class="w3-bar-item w3-button">Policies</a>
      <a href="/Home/Log" class="w3-bar-item w3-button">Log out</a>

    </div>
  </div>
  <!-- Page Content -->
  <div style="margin-left:0%">
  </div>
</body>
</html>
