@model LoginEmployee
@{
    ViewData[" Title"] = "Forgot";
}

<body background="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/20f02161948347.5a7f57531c2f5.jpg">
    <form method="post">
        <div class="form-outline mb-4">
            <input asp-for="EmployeeID" type="email" id="form2Example1" class="form-control" style="color: orange;" />
            <label class="form-label" for="form2Example1" style="color: white;">EmployeeID</label>
        </div>
        <div class="form-outline mb-4">
            <input asp-for="EmployeeID" type="email" id="form2Example1" class="form-control" style="color: orange;" />
            <label class="form-label" for="form2Example1" style="color: white;">Last Password </label>
        </div>
        <div class="form-outline mb-4">
            <input asp-for="Password" type="Password" id="form2Example2" class="form-control" style=color:orange; />
            <label class="form-label" for="form2Example2" ` style="color: white;">New Password</label>
            <br>
            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
    </form>
</body>

