<!-- <div style="padding-top:5px">
    <div id="map" style="height:740px;width:100%;margin-left:125px;border-radius:1rem" onload="initMap()"></div>
</div>  -->
@* 
check this *@
<head>
<link rel="stylesheet" href="~/css/Livecs.css">
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
<script src="~/js/Livejs.js"></script>
</head>
<body>
    <div style="padding-top:5px">
        <div id="map" style="height:740px;width:100%;margin-left:125px;border-radius:1rem"></div>
    </div>
</body>
</html>