@model VEHCILE.Models.Employees;
using

<body background="https://i0.wp.com/www.techawkng.com/wp-content/uploads/2020/07/Ridesharing.jpg?w=1920&ssl=1"
    style="background-repeat:no-repeat; background-size: cover">
</body>

<h1 style="color:white; text-align:center;padding-top:200px;font-family:Georgia, serif">VEHICLE TRANSPORT MANAGEMENT
    SYSTEM</h1>
<p style="color:white; text-align:center;padding-top:50px;font-family:Georgia, serif;font-size:30px">Welcome</p>
<div class="wrap" style="text-align:center;padding-top:50px">
    <a asp-area="" asp-controller="Home" style="color:#000;text-decoration: none;" asp-action="Log"><button
            class="button">Jump In as Employee</button></a>
    <a asp-area="" asp-controller="Home" style="color:#000;text-decoration: none;" asp-action="SignAdmin"><button
            class="button">Jump In as Boss</button></a>
</div>

<script src="D:\Education\Internship\Vehcile\Views\Home\startscs.css"></script>