@model VEHCILE.Models.Bus;

@{
  ViewBag.Title = "Delete Details";
}
<div class="text-white" align="center" style="background-color: rgba(40, 39, 39, 0.8);">
  <h1>Delete Bus </h1>
  <hr />

  <form method="post" asp-action="DeleteBusConfirmed">
    <div class="form-group">
      <label class="form-label" asp-for="BusNumber"> BusNumber :<input size="20" readonly asp-for="BusNumber"
          class="form-control" /></label>
    </div>
    <button type="submit" ali class="btn btn-primary btn-block mb-4 align-center">Delete</button>
  </form>
</div>


